.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  padding-top: calc(25vh - 70px);
}

.sliderWrapper {
  width: 100%;
  max-width: 28.625rem;
}
