.header {
  text-align: center;
  padding-block: 1rem;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.titleLink {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  text-decoration: none;
  transition: text-decoration 0.2s ease-in-out;
}

.titleLink:hover {
  text-decoration: underline;
}

.main {
  max-width: 76rem;
  flex-grow: 1;
  margin: 0 auto;
  padding: 1.5rem;
}
